/* Creates global color variables (accessed via: var(--text-color) etc.) */

:root{
    --text-color: #ffffff;
}

body, html {
    /* TODO: Define these colors as you like */
    background: linear-gradient(to left, #F1FAEE, #A8DADC); /* Chose 2 different colors to fade into */

    /* TODO: Use either beginning color or ending color (this is for overscrolling) */
    background-color: #A8DADC;

    /* TODO: Change the font style you use */
    font-family: 'Cambria', serif;

    height: 100vh;
    width: 100%;
    
    /* Configures your background color to repeat throughout the website */
    background-position: center;
    background-repeat: repeat;
    background-size: cover;

    /* Use smooth scrolling so that when using "bookmarks" it doesn't instantly teleport you */
    scroll-behavior: smooth;
}

/* -------------------------------- Versatile Classes -------------------------------- */

/* Formats most of our h1 tags with proper color & size */
.h1Format {
    font-size: xxx-large;
    color: var(--text-color);
}

/* Formats most of our h3 tags with proper color & size */
.h3Format {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--text-color);
}

/* Class for all the dark boxes that text goes in */
.rounded-box {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    padding: 3.5vmin 3.5vmin 3.5vmin 3.5vmin;
    margin: 0vmin 4.2vmin 4vmin 4.2vmin;

    box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.2);
    transition: 0.4s;
}

/* Creates light white shadow around box on hover */
.rounded-box:hover {
    box-shadow: 4px 8px 24px 4px rgba(255, 255, 255, 0.4);
}

/* Adds padding around element (image or text box) */
.box-padding {
    padding: 4vmin 2vmin 4vmin 2vmin;
}

/* Formats the images so that they stay within the round-box */
.box-image {
    height: auto;
    width: 100%;
    max-width: 300px;
}

/* Goes after the start of a new section to create seperation/space */
.bottom-space {
    margin-bottom: 4vmin;
}
/* FIXME: Implementing shadow and parallax effect for landing page image */

/* Adds a background image */
.background-img {
    background-image: url(./assets/background.jpg);

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0);

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 


/* -------------------------------- Navigation Bar Section -------------------------------- */

/* Defining the font size for the Navigation Bar Text */
nav {
    font-size: 17px;
}

/* Modifying the size of the button for your "Resume" link */
.btn-sm {
    font-size: 17px;
}

/* Changes the color of your Navigation Bar Text */
.navbar-dark .navbar-nav .nav-link {
    color: #F1FAEE;
}

/* Cool blur effect to your Navigation Bar Background */
.navbar {
    background: rgba(69, 123, 157, 0.5);
    backdrop-filter: blur(5px);
    padding-right: 16px;
    margin: 10px;
    border-radius: 10px;
}

/* Changes color of button when you hover over it */
.btn:hover {
    background: rgba(168, 218, 220, .225);
}
/* -------------------------------- Introduction Section -------------------------------- */

/* This is an "ID" which is used as a bookmark - Here we add padding to the top
   and make it take up the entire vertical screen with 100vh */
   #introduction {
    padding-top: 38vh; 
    height: 100vh;
    line-height: 1.2 !important; /* Changes line-height from 1.5 since there was too much space in-between lines */
}

/* Styles name for landing page */
.name {
    font-size: 12vmin; /* Uses vmin to keep consistency */
    color: #1D3557;
    padding-bottom: 0%; /* 0% */
    margin-bottom: auto;
}

/* Styles text under name on landing page */
.background-text {
    font-size: 5.6vmin; /* 50px (4.8vmin orig) */
    color:#1D3557;
    padding-bottom: 0%;
    margin: 0;
}
/* -------------------------------- About Me Section -------------------------------- */

/* Makes the "About Me" section take up at minimum the entire height of the screen */
#about-me {
    padding: 85px 12vmin 0vmin 12vmin; 
    min-height: 100vmin;
}

#about-me p {
    margin-bottom: 0%;
}

/* Adds a color and weight to links in "About Me" */
.aboutMe-link {
    color: rgb(70, 170, 224);
    font-size: 1.2rem;
    font-weight: 600 !important;
}

/* Part of aboutMe-link, defines transformation type and timing */
#about-me a {
    text-decoration: none;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

/* Gives a "popping" effect when hovering on links in "About Me" description */
#about-me a:hover {
    color: rgb(70, 170, 224);
    text-decoration: none;
    transform: scale(1.04);
}

/* Creates round-box with "About Me" description */
.aboutMe-box {
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.25);
    
    box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.2);
    transition: 0.4s;
}

/* Creates light white shadow around box on hover */
.aboutMe-box:hover {
    box-shadow: 4px 8px 24px 4px rgba(255, 255, 255, 0.4);
}

/* Creates space inside of "About Me" box for description */
.about-spacing {
    padding: 3.5vmin 3.5vmin 3.5vmin 3.5vmin;
}

/* Formats text inside round-box */
.about-text {
    font-size: 1.1rem; /* 50px */
    color: var(--text-color);
    padding-bottom: 0%;
}

/* Puts a nice shadow around circular headshot */
.about-circle {
    height: 24vmax;
    width: 24vmax;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.25);    
    box-shadow: 4px 4px 12px 4px rgba(0,0,0,0.2);
    transition: 0.4s;
}

/* Adds cool hover effect (creates halo/light shadow) */
.about-circle:hover {
    box-shadow: 4px 8px 24px 4px rgba(255, 255, 255, 0.4);
}

/* Styles/sizes the headshot */
.about-circle img {
    height: 24vmax; /* Orig 28vmin */
    width: auto;
    border-radius: 50%;
    margin: auto;
}